$input-height: 30px;

.form {
  width: 500px;
  margin: 0 auto;
  .form-control {
    width: 100%;
    margin: 22px 0;
    font-size: 0.9em;
    label {
      display: inline-block;
      width: 100%;
      height: $input-height;
      line-height: $input-height;
      text-align: right;
    }
    input {
      width: 222px;
      height: $input-height;
      box-sizing: border-box;
      border: 1px solid #ccc;
      padding: 0 10px;
      color: #595959;
      font-size: 0.9em;
    }
    button {
      display: block;
      width: 140px;
      height: 36px;
      line-height: 36px;
      background-color: #f39f1b;
      box-sizing: border-box;
      padding: 0;
      border: 1px solid #e67c00;
      border-radius: 2px;
      font-weight: 700;
      color: #fff;
    }
    input.forbid-input {
      background-color: #f2f2f2;
    }
  }
}
