@import 'form.scss';
@import 'layout.scss';
@import 'ui.scss';

$common-width: 990px;

.quote {
  display: inline-block;
}

.main-container {
  width: 100%;
  padding-bottom: 20px;
  .head-wrap {
    width: 100%;
    #head-bar {
      width: 100%;
      height: 28px;
      background-color: #3D474A;
    }
    #nav-bar {
      .top-nav-bar {
        width: 100%;
        height: 76px;
        background-color: #f6f6f6;
      }
      .bottom-nav-bar {
        width: 100%;
        height: 32px;
        background-color: #e3e3e3;
      }
    }
  }
  .body-wrap {
    background-color: #eff0f1;
    #trail-bar {
      max-width: $common-width;
      height: 50px;
    }
    #main-content {
      max-width: $common-width;
      margin: 0 auto 40px;
      padding: 30px;
      background-color: #fff;
      border: 1px solid #ddd;
      .notice-info {
        width: 100%;
        height: 35px;
        border: 1px solid #ddd;
        box-sizing: border-box;
        background-color: #e5f5ff;
      }
      .form {
        position: relative;
        width: 500px;
        .form-control {
          input {
            width: 170px;
            padding-left: 10px;
            padding-right: 40px;
          }
          input.forbid-input {
            background-color: #f2f2f2;
          }
          .bank-card-input {
            position: relative;
            input {
              padding-left: 20px;
              padding-right: 30px;
            }
            .ui-bank-safe {
              position: absolute;
              top: ($input-height - $ui-icon-height) / 2;
              left: 10px;
              width: 13px;
              height: 16px;
            }
          }
          .point-info {
            font-size: 0.8em;
            margin: 2px 0;
            color: #a3a3a3;
          }

          .point-info.protocol-info {
            margin: 10px 0 0 -5px;
            a {
              color: #a3a3a3;
            }
          }

          .point-info.card-require-info {
            a {
              color: #058acd;
              text-decoration: none;
            }
          }
          button {
            display: block;
            background-color: #f39f1b;
            border-radius: 2px;
            box-sizing: border-box;
            font-weight: 700;
          }
        }
      }
    }
    .foot-wrap {
      width: 400px;
      height: 40px;
      margin: 20px auto;
    }
  }
}

#card-top-info {
  position: absolute;
  top: 76px;
  left: 105px;
  display: none;
  background-color: #fffdca;
  border: 1px solid #facf66;
  p {
    width: 200px;
    height: 18px;
    line-height: 18px;
    padding: 6px 10px;
    margin: 0;
    color: #f73705;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
