@mixin col-md($num) {
  box-sizing: border-box;
  width: 10% * $num;
  padding: 0 5px;
}

@mixin col-offset-md($num) {
  margin-left: 10% * $num;
}

.row {
  overflow: hidden;

  & > div {
    float: left;
  }

  .col-md-2 {
    @include col-md(2);
  }

  .col-md-8 {
    @include col-md(8);
  }

  .col-offset-md-2 {
    @include col-offset-md(2)
  }
}

.left {
  float: left;
}

.right {
  float: right;
}
